body {
  font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;
  font-size: 18px;
  width: 900px;
  margin: 0 auto 0 auto;
}

h1, h2, h3 {
  color: #0B615E;
}

.yellow-header {
  background-image: url("../images/header.jpg");
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.yellow-header h1.company {
  margin-top: 0px;
  padding: 15px 0 0 15px;
}

.nav {
  padding: 15px 0 15px 15px;
}

.nav li {
  display: inline;
  padding: 7px 7px 7px 7px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
}

.nav li:hover {
  background-color: #0B615E;
}

.nav li a {
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  color: #FFFFFF;
}


