body {
  font-family: TrajanPro-Regular, 'Lucida Grande', sans-serif;
  font-size: 18px;
  width: 900px;
  margin: 0 auto 0 auto;
}

h1, h2, h3 {
  color: #088A85;
}

.yellow-header {
  background-image: url("../images/header.jpg");
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.yellow-header h1.company {
  margin-top: 0px;
  padding: 15px 0 0 15px;
}

section.main {
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #088A85;
}

.nav {
  padding: 15px 0 15px 15px;
  margin-bottom: 0px;
}

.nav li {
  display: inline;
  padding: 7px 7px 7px 7px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
}

.nav li:hover {
  background-color: #088A85;
}

.nav li a {
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  color: #FFFFFF;
}

.name-header {
  padding-left: 300px;
}

.name-header h1 {
  color: #000000;
  margin-bottom: 0px;
  font-size: 36px;
}

.name-header h3 {
  font-size: 18px;
  margin-top: 0px;
}

.address-box {
  padding-left: 15px;
}

.address p:first-child {
  margin-bottom: 0px;
}

.address p:not(:first-child) {
  margin-bottom: 0px;
  margin-top: 0px;
}

.address-box .mail {
color: #088A85;
}
